@import "tailwindcss";

:root {
  --foreground-rgb: 44, 24, 16;
  --background-start-rgb: 254, 252, 244;
  --background-end-rgb: 254, 252, 244;
  color-scheme: light;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .safe-area-inset-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
  .safe-area-padding {
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
  }
}
